
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(194, 162, 139);
    
}

li {
    color: rgba(114, 33, 33, 0.63);
    list-style:circle;
    margin: 10px;
    background-color: rgb(175, 101, 74)
    
}

.done {
    text-decoration: line-through;
    color: gray;
}
h1 {
    color: rgb(175, 105, 80);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}